body {
    background: #ffc7ee;
}

h1, h2, p, pre {
  font-family: 'Anton', sans-serif;
  color: #b82168;
  text-align: center;
}
pre {
    font-family: serif;
    font-size: large;
}
.pre {
    font-family: serif;
    font-size: large;
}