@import url("https://fonts.googleapis.com/css2?family=Teko&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Staatliches&display=swap");

:root {
  --white: #f8ebff;
  --highlight: #239580;
  --blue: #c7c9d1;

  --main-dark: #0d0a0b;
  --main-medium: #433248;
  --main-light: #705577;
}
* {
  box-sizing: border-box;
}
html {
  scroll-behavior: smooth;
  min-height: 100%;
}
body {
  background-color: var(--white);
  font-family: "Teko", sans-serif;
  letter-spacing: 1px;
  margin: 0;
}

h1,
h2 {
  font-family: "Staatliches", cursive;
  color: var(--main-medium);
  text-align: center;
}
a {
  color: var(--link);
}
a:hover {
  color: var(--highlight);
  transition: 0.2s;
}
ul {
  list-style-type: none;
  padding-left: 0;
  margin: 0;
}

/*** Font Sizes: ***/
h1 {
  font-size: 30px;
}
h2 {
  font-size: 20px;
}

/*** Information Bar: ***/
#infoBar {
  height: 50px;
  width: 100%;
  background-color: var(--main-medium);
  margin: 0;
  font-size: 22px;
  overflow: hidden;
}
#infoBar ul {
  background-color: var(--main-medium);
  color: var(--white);
}
#infoBar li {
  display: block;
  float: left;
  margin: 10px;
}

/*** Swatch Display: ***/
#swatchDisplay {
  display: block;
}
#swatch {
  height: 200px;
  width: 200px;
  margin: 0 auto;
  border-radius: 10px;
}

/*** Guessing Zone: ***/
#guessZone {
  display: block;
}
h2 {
  margin: 0;
}
p {
  margin: 0;
  text-align: center;
  color: var(--main-light);
}
#buttonContainer {
  display: flex;
  justify-content: center;
  align-items: center;
}
button {
  border-radius: 10px;
  font-family: "Teko", sans-serif;
  font-size: 25px;
  letter-spacing: 2px;
  text-align: center;
  padding: 3px 20px;
  color: var(--white);
  background-color: var(--main-light);
  border: none;
  transition: 0.2s;
  outline: none;
}
button:hover {
  /* font-size: 26px; */
  letter-spacing: 6px;
  color: var(--main-medium);
  background-color: var(--highlight);
  cursor: pointer;
  transition: 0.2s;
}
.sliderContainer {
  display: block;
  width: 60%;
  margin: 0 auto;
  height: 20px;
}
.slider {
  width: 100%;
  height: 10px;
  border-radius: 5px;
  float: left;
  -webkit-appearance: none;
  background: var(--blue);
  outline: none;
  opacity: 0.6;
  -webkit-transition: 0.2s;
  transition: opacity 0.2s;
}
.slider:hover {
  opacity: 1;
}
.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 20px;
  height: 20px;
  border-radius: 100%;
  background: var(--highlight);
  cursor: pointer;
}
.slider::-moz-range-thumb {
  width: 20px;
  height: 20px;
  border-radius: 100%;
  background: var(--highlight);
  cursor: pointer;
}
#guessZone li {
  display: block;
  margin: 40px 0;
}
.hexVal {
  display: block;
  font-size: 29px;
  -webkit-appearance: none;
  appearance: none;
  margin: auto;
  text-align: center;
  border: 0;
  font-weight: bold;
  outline: none;
  text-transform: uppercase;
  background: transparent;
  color: var(--main-medium);
}
.feedback {
  height: 20px;
  display: block;
}
