/*** FONT IMPORTS: ***/
@import url("https://fonts.googleapis.com/css2?family=Secular+One&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Ubuntu&display=swap");

/*** GENERAL ELEMENTS: ***/
:root {
  --dark-blue: #254855;
  --light-blue: #447b88;

  --white: #f1f7f8;

  --dark-salmon: #dc8056;
  --light-salmon: #e39774;
}
* {
  box-sizing: border-box;
}
html {
  scroll-behavior: smooth;
  min-height: 100%;
}
body {
  margin: 0 auto;
  background-color: var(--white);
  font-family: "Ubuntu";
  color: var(--dark-blue);
  height: 0;
}

/*** FONTS: ***/
h1 {
  font-size: 24px;
  margin: 20px 0 6px 0;
}
h2 {
  margin: 0;
  font-size: 18px;
}
p {
  font-size: 13px;
  margin: 10px 0 5px;
}
input {
  font-family: "Ubuntu";
}
/*** CALCULATOR INPUT: ***/
#calculator {
  width: auto;
  text-align: center;
}
#inputSection {
  margin-bottom: 10px;
}
form {
  padding: 20px;
  background-color: rgba(122, 158, 159, 0.5);
  border-radius: 10px;
  max-width: 400px;
  margin: auto;
  margin-top: 60px;
}
input[type="text"] {
  width: 40%;
  padding: 10px 14px;
  font-size: 24px;
  border: 0;
  background: #ffffff99;
  outline: 0;
  text-align: center;
  margin: 10px 5px 0;
}
input[type="submit"] {
  background-color: var(--dark-blue);
  color: var(--white);
  border: none;
  border-radius: 5px;
  padding: 6px 12px;
  text-decoration: none;
  margin: 4px 2px;
  cursor: pointer;
  transition: 0.2s;
  width: 20%;
}
input[type="submit"]:hover {
  background-color: var(--light-salmon);
  color: var(--dark-blue);
  transition: 0.2s;
}
#result {
  display: block;
  padding: 10px 14px;
  margin: 0;
  background: var(--dark-blue);
  border-radius: 5px;
  font-size: 32px;
  color: white;
  font-family: Impact, Charcoal, sans-serif;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
